<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CourseCraft - Login</title>
</head>

<body>
	<center>
		<form action="/login" method="post">
			Email: <input type="email" name="email" value="Ex: johndoe@example.com"> <br>
			Password: <input type="password" name="password"> <br>
			<span style="size: 10em;">Save Password<input type="checkbox" name="savePassword"></span> <br>
			<button type="submit">Submit</button>
		</form>
	</center>
</body>

</html>
