<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CourseCraft - Signup</title>
</head>

<body>
	<center>
		<form action="/signup" method="post" name="signupForm">
			<div>
				First Name: <input type="text" name="firstName" placeholder="Ex: John">
				Last Name: <input type="text" name="lastName" placeholder="Ex: Doe">
				<label for="countries">Country: </label>
				<select id="countries" name="country">
					<option value="" disabled selected></option>
					<option th:each="country : ${countries}" th:value="${country.alpha3Code}"
						th:text="${country.countryName}"></option>
				</select>
			</div>
			<div>
				Email: <input type="email" name="email" placeholder="Ex: johndoe@example.com">
				Password: <input type="password" name="password">
				<label for="role">Role: </label>
				<select id="countries" name="role">
					<option value="" disabled selected></option>
					<option value="STUDENT">Student</option>
					<option value="INSTRUCTOR">Instructor</option>
					<option value="ADMIN">Admin</option>
				</select>
			</div>
			<button type="submit">Submit</button>
		</form>
	</center>
</body>

</html>
